asgiref==3.7.2
astroid==2.15.5
blis==0.7.9
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
confection==0.0.4
cymem==2.0.7
dill==0.3.6
Django==4.2.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl#sha256=b492fd2dfeee931dd60232fd1a122bb5c3542ebcd5d614f11844647050aa539e
idna==3.4
isort==5.12.0
Jinja2==3.1.2
langcodes==3.3.0
lazy-object-proxy==1.9.0
Levenshtein==0.21.0
MarkupSafe==2.1.3
mccabe==0.7.0
murmurhash==1.0.9
neo4j-driver==4.4.10
neobolt==1.7.17
neomodel==5.0.1
numpy==1.24.3
packaging==23.1
pathy==0.10.1
platformdirs==3.5.1
preshed==3.0.8
pydantic==1.10.8
pylint==2.17.4
pytz==2023.3
rapidfuzz==3.1.1
requests==2.31.0
six==1.16.0
smart-open==6.3.0
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.4
srsly==2.4.6
thinc==8.1.10
tomlkit==0.11.8
tqdm==4.65.0
typer==0.7.0
typing_extensions==4.6.3
urllib3==2.0.2
wasabi==1.1.2
wrapt==1.15.0
