:root {
    --color-person: #59cfec;
    --color-interest: #ebf531;
    --color-institute: #ed8cde;
    --color-faculty: #abc; /* or maybe #bfbfbf */
    --color-department: #d1c08a;
    --color-role: #f78e4c;
    --color-expertise: #23b660;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.nav-link.active {
    font-weight: 600;
}

div.table-responsive.persons-table-container {
    overflow: auto;
    max-height: 550px;
}

table.table.persons-table th {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* because real borders don't work with the sticky header
/* but this hack doesn't work in chromium... */
/* table.table.persons-table th {
    box-shadow: inset 0px 0px #000, 0 2px #000;
} */

td:nth-child(1)>button,
td:nth-child(7)>button,
.select2-container ul.select2-selection__rendered>li.person,
strong.select2-results__group.person {
    background-color: var(--color-person);
}

td:nth-child(3)>button,
.select2-container ul.select2-selection__rendered>li.interest,
strong.select2-results__group.interest {
    background-color: var(--color-interest);
}

td:nth-child(4)>button,
.select2-container ul.select2-selection__rendered>li.institute,
strong.select2-results__group.institute {
    background-color: var(--color-institute);
}

td:nth-child(5)>button,
.select2-container ul.select2-selection__rendered>li.faculty,
strong.select2-results__group.faculty {
    background-color: var(--color-faculty);
}

td:nth-child(6)>button,
.select2-container ul.select2-selection__rendered>li.department,
strong.select2-results__group.department {
    background-color: var(--color-department);
}

td:nth-child(8)>button,
.select2-container ul.select2-selection__rendered>li.role,
strong.select2-results__group.role {
    background-color: var(--color-role);
}

td:nth-child(9)>button,
td:nth-child(10)>button,
.select2-container ul.select2-selection__rendered>li.expertise,
strong.select2-results__group.expertise {
    background-color: var(--color-expertise);
}

/* values copied from select2 option elements */
button.pill {
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    /* nowrap is bad with some very long elements */
    /* white-space: nowrap; */
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    text-align: left;
}

button.pill:active {
    box-shadow: inset 1px 1px 4px #555555;
}