:root {
    --color-person: #59cfec;
    --color-interest: #ebf531;
    --color-institute: #ed8cde;
    --color-faculty: #abc; /* or maybe #bfbfbf */
    --color-department: #d1c08a;
    --color-role: #f78e4c;
    --color-expertise: #23b660;
    --color-search: #e4e4e4; /* for the search/history optgroup */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.nav-link.active {
    font-weight: 600;
}

form.home {
    width: min(100%, 700px);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: inherit;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background-color: inherit;
    filter: brightness(120%);
}

div.table-responsive.persons-table-container {
    overflow: auto;
    /* maybe min(...) would be better */
    max-height: 550px;
}

table.table.persons-table th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

/* because real borders don't work with the sticky header */
/* https://stackoverflow.com/a/52256954/15707077 */
table tbody:nth-of-type(1) tr:nth-of-type(1) td {
    border-top: none;
}

table.table.persons-table thead th {
    border-top: none;
    border-bottom: none;
    box-shadow: inset 0 0 0 #000000, inset 0 -2px 0 #222;
}

td:nth-child(1)>button,
td:nth-child(7)>button,
.select2-container ul.select2-selection__rendered>li.person,
strong.select2-results__group.person {
    background-color: var(--color-person);
}

td:nth-child(3)>button,
.select2-container ul.select2-selection__rendered>li.interest,
strong.select2-results__group.interest {
    background-color: var(--color-interest);
}

td:nth-child(4)>button,
.select2-container ul.select2-selection__rendered>li.institute,
strong.select2-results__group.institute {
    background-color: var(--color-institute);
}

td:nth-child(5)>button,
.select2-container ul.select2-selection__rendered>li.faculty,
strong.select2-results__group.faculty {
    background-color: var(--color-faculty);
}

td:nth-child(6)>button,
.select2-container ul.select2-selection__rendered>li.department,
strong.select2-results__group.department {
    background-color: var(--color-department);
}

td:nth-child(8)>button,
.select2-container ul.select2-selection__rendered>li.role,
strong.select2-results__group.role {
    background-color: var(--color-role);
}

td:nth-child(9)>button,
td:nth-child(10)>button,
.select2-container ul.select2-selection__rendered>li.expertise,
strong.select2-results__group.expertise {
    background-color: var(--color-expertise);
}

strong.select2-results__group.search {
    background-color: var(--color-search);
}

/* values copied from select2 option elements */
button.pill {
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    /* nowrap is bad with some very long elements */
    /* white-space: nowrap; */
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    text-align: left;
}

button.pill:active {
    box-shadow: inset 1px 1px 4px #555555;
}

button.pill:hover {
    filter: brightness(90%);
}

#graphModal > .modal-dialog {
    width: min(100%, 1600px);
    /* override the max-width from modal media queries */
    max-width: none;
}

#graphModal #graph-container {
    width: 100%;
}

button.btn-close {
    background-size: 65%;
}

button.btn-close.graph-close {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' stroke='%23000' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z' /></svg>");
}

button.btn-close.graph-minimize {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' stroke='%23000' class='bi bi-dash-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z' /></svg>");
}

.graph-maximize {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
}

button.clipboard-button {
    border: 0;
    background: transparent;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    opacity: 0.5;
    display: unset;
}

form.approve .row .col.field-changed input,
form.approve .row .col.field-changed .select2-container .select2-selection {
    background-color: #fee71dd2;
}


/* because I don't want it to look different after collapsing and expanding */
.accordion-button.collapsed {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}