{% extends "expertise/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container-fluid">
    <section class="mb-3">
        <h3>Contact</h3>
        Please send us any feedback or feature requests to
        <span class="text-primary">livinglab AT tu-dresden.de</span>.
    </section>
    <section class="mb-3">
        <h3>Issues</h3>
        <ul>
            <li>The buttons to copy the share link to the clipboard don't work without HTTPS.</li>
            <ul>
                <li>Workaround: The link is pasted into the developer console where you can copy it.</li>
            </ul>
        </ul>
    </section>
</div>

{% endblock %}