{% extends "expertise/base.html" %}

{% block head_js %}
{% load static %}
<script defer src="{% static 'expertise/approve.js' %}"></script>
{% endblock %}

{% block title %}Approve edits{% endblock %}

{% block content %}

{% for form_couple in forms %}
<div class="container-fluid gx-sm-2 gx-xl-3">
    <form class="pb-3 approve {{ type }} {% if type == 'new' %} border border-primary rounded {% endif %}">
        {% csrf_token %}
        <input type="hidden" name="submissionId" value="{{ form_couple.id }}">
        {% for field_couple in form_couple.data %}
        <div class="row">
            {% for field in field_couple %}
            <div class="mb-3 col {% if field.new_value_is_different %} field-changed {% endif %}">
                {% if field.new_value_is_different %}
                <span class="visually-hidden">This form field was changed.</span>
                {% endif %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" name="action" value="approve" class="btn btn-success me-3">Approve</button>
        <button type="submit" name="action" value="reject" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endfor %}

{% endblock %}