{% csrf_token %}
<input type="hidden" name="personId" value="{{ person_pk }}">
{% for field in form %}
{# adding row class to the select2 select fields makes them layout like bootstrap forms #}
<div class="{% if field.field.widget.input_type == 'select' %}row {% endif %}mb-3">
    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
    {{ field }}
    {% if field.help_text %}
    <div class="form-text"{% if field.id_for_label %} id="{{ field.id_for_label}}_helptext"{% endif %}>{{ field.help_text|safe }}</div>
    {% endif %}
</div>
{% endfor %}

