{% extends "expertise/base.html" %}

{% block head_js %}
{% load static %}
<script defer src="{% static 'expertise/edit.js' %}"></script>
{% endblock %}

{% block title %}Edit your data{% endblock %}

{% block content %}

<form class="edit container-fluid mb-3">
    <div class="mb-3">
        <label for="person" class="form-label">Name</label>
        <select id="name" class="form-select" name="person" required autofocus oninvalid="this.setCustomValidity('Please choose a person or enter a new person\'s name.')" oninput="this.setCustomValidity('')">
            <option></option>
            {% for person in persons %}
            <option value="{{ person.pk }}">{{ person.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Edit</button>
    <div>
        <div class="alert alert-danger mt-3 d-inline-block d-none" role="alert"></div>
    </div>
</form>

{% endblock %}