{% extends "expertise/base.html" %}

{% block head_js %}
{% load static %}
<script defer src="{% static 'expertise/index.js' %}"></script>
{% endblock %}

{% block title %}Expertise overview{% endblock %}

{% block content %}
<form class="container-fluid">
    <div class="mb-3">
        <!-- maybe give instructions for difference between filter and search -->
        <h3>
            <label for="search-filter" class="form-label">Search and filter</label>
        </h3>
        <select class="form-select search-filter" multiple="multiple" name="filters[]">
            {% for key, item in suggestions.items %}
            <optgroup class="{{ item.class }}" label="{{ item.group }}">
                {% comment %}
                    the pk is prefixed so select2 can distinguish between
                    e.g. offered and wanted expertise which can be the same node
                    in the database
                {% endcomment %}
                {% for suggestion in item.options %}
                <option class="{{ item.class }}" value="{{ key|slice:":4" }}-{{ suggestion.pk }}">{{ suggestion.name }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
    </div>
    <button type="submit" id="search-button" class="btn btn-primary">Search</button>
</form>

<div class="container-fluid mt-3">
    <div class="alert search-alert py-2 d-none" role="alert">
        alert text placeholder that you shouldn't see :&#41
    </div>
</div>

<div class="table-responsive persons-table-container">
    <table class="persons-table table table-hover table-sm">
        {# table-primary for head color because borders don't work with sticky #}
        <thead>
            <tr>
                <th scope="col" class="person">Name</th>
                <th scope="col">Email</th>
                <th scope="col" class="interest">Research interest</th>
                <th scope="col" class="institute">Institute</th>
                <th scope="col" class="faculty">Faculty</th>
                <th scope="col" class="department">Department</th>
                <th scope="col" class="person">Advisor</th>
                <th scope="col" class="role">Role in ScaDS.AI</th>
                <th scope="col" class="expertise">Offered expertise</th>
                <th scope="col" class="expertise">Wanted expertise</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="graph-container" class="mx-auto mb-3 d-none"></div>

{% endblock %}