{% extends "expertise/base.html" %}

{% block head_js %}
{% load static %}
<script type="module" src="{% static 'expertise/index.js' %}"></script>
{% endblock %}

{% block title %}Expertise overview{% endblock %}

{% block content %}
{% load expertise_extras %}
<div class="content-no-scroll">
    <div class="d-flex justify-content-center">
        <form class="home">
            <div class="mb-3">
                <h3 class="text-center mb-3">
                    ScaDS.AI Expertise Graph
                </h3>
                <label for="search-filter" class="form-label visually-hidden">Search and filter</label>
                <select id="search-filter" class="form-select search-filter" multiple="multiple" name="filters[]" autofocus autocomplete="off">
                    <optgroup class="search" label="Search history"></optgroup>
                    {% for key, item in suggestions.items %}
                    <optgroup class="{{ item.class }}" label="{{ item.group_name }}">
                        {% comment %}
                            the pk is prefixed so select2 can distinguish between
                            e.g. offered and wanted expertise which can be the same node
                            in the database
                        {% endcomment %}
                        {% for suggestion in item.options %}
                        {% formatted_node_pk key suggestion.pk as id %}
                        <option class="{{ item.class }}" value="{{ id }}" {% if id in selected_options %}selected {% endif %} data-alternatives="{% jsonify suggestion.alternatives %}">{{ suggestion.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" id="search-button" class="btn btn-primary px-3 py-2">Search</button>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-end me-2 mb-1">
        <div class="alert search-alert white-alert me-1 mb-0 px-2 py-1 d-none" role="alert">
            alert text placeholder that you shouldn't see :&#41
        </div>
        <button class="clipboard-button filters d-none" type="button" title="Copy chosen filters" data-in-start-state="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-share-fill" viewBox="0 0 16 16">
                <path
                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg d-none"
                viewBox="0 0 16 16">
                <path
                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
            </svg>
        </button>
    </div>

    {% comment %}
    the scrollable table container is focusable in firefox if the container elements
    are not focusable (feature). set tabindex -1 to prevent this but enables mouse-focusable.
    if tabs/arrows can be used to "scroll", i.e. focus, through the tablerows,
    is that behavior needed?
    https://bugzilla.mozilla.org/show_bug.cgi?id=1069739#c24
    {% endcomment %}
    <div class="table-responsive d-none persons-table-container" tabindex="-1">
        <table class="persons-table table table-hover table-sm">
            {# table-primary for head color because borders don't work with sticky #}
            <thead>
                <tr>
                    <th scope="col"><span class="visually-hidden">Email</span></th>
                    <th scope="col" class="person">Name</th>
                    <th scope="col" class="interest">Topics of Interest</th>
                    <th scope="col" class="institute">Institution</th>
                    <th scope="col" class="faculty">Faculty, Center</th>
                    <th scope="col" class="department">Department, Group</th>
                    <th scope="col" class="person">Advisor</th>
                    <th scope="col" class="role">Role in ScaDS.AI</th>
                    <th scope="col" class="expertise">Offered Expertise</th>
                    <th scope="col" class="expertise">Wanted Expertise</th>
                    <th scope="col"><span class="visually-hidden">Edit link</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="share-data" class="d-none" data-table="{{ table_data }}" data-search="{{ search }}" data-graph="{{ graph_node }}"></div>
    </div>

    <div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="graphModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="graphModalLabel">
                        Network graph
                        <button class="clipboard-button filters-graph" type="button" title="Copy chosen filters and graph view" data-in-start-state="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg d-none"
                                viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                            </svg>
                        </button>
                    </h1>
                    <div>
                        <button type="button" class="btn-close graph-minimize" data-bs-dismiss="modal" aria-label="Minimize"></button>
                        <button type="button" class="btn-close graph-close ms-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-body d-flex flex-wrap justify-content-center">
                    <div class="spinner-border text-primary graph-spinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="graph-container">
                        <div class="alert alert-warning graph-alert py-2 d-inline-block d-none" role="alert">
                            alert text placeholder that you shouldn't see :&#41
                        </div>
                        <span class="position-absolute graph-helptext">
                            Shift + Click a node to toggle filters
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary graph-maximize d-none" data-bs-toggle="modal" data-bs-target="#graphModal" aria-label="Maximize graph">
        Maximize
        <i class="bi bi-diagram-3" aria-hidden="true"></i>
    </button>
</div>

{% endblock %}