{% extends "expertise/base.html" %}

{% block head_js %}
{% load static %}
<script defer src="{% static 'expertise/index.js' %}"></script>
{% endblock %}

{% block title %}Expertise overview{% endblock %}

{% block content %}
<form class="container-fluid">
    <div class="mb-3">
        <!-- maybe give instructions for difference between filter and search -->
        <h3>
            <label for="search-filter" class="form-label">Search and filter</label>
        </h3>
        <select class="form-select search-filter" multiple="multiple" name="filters[]">
            {% for key, item in suggestions.items %}
            <optgroup label="{{ item.group }}">
                {% for suggestion in item.options %}
                <option value="{{ key|slice:":4" }}-{{ suggestion.pk }}">{{ suggestion.name }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
    </div>
    <button type="submit" id="search-button" class="btn btn-primary">Search</button>
</form>

<div class="container-fluid mt-3">
    <div class="alert search-alert d-none" role="alert">
        alert text placeholder that you shouldn't see :&#41
    </div>
</div>

<div class="table-responsive">
    <table class="persons-table table table-primary">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Research interest</th>
                <th scope="col">Institute</th>
                <th scope="col">Faculty</th>
                <th scope="col">Department</th>
                <th scope="col">Advisor</th>
                <th scope="col">Role in ScaDS.AI</th>
                <th scope="col">Offered expertise</th>
                <th scope="col">Wanted expertise</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="graph" class="container-fluid d-none"></div>

{% endblock %}